<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531114733211-u8ct14ohbhnq20emo1gdj0fas7eh8e32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531114733211-u8ct14ohbhnq20emo1gdj0fas7eh8e32</string>
	<key>API_KEY</key>
	<string>AIzaSyC4OAewskdP1f9klcVkOP0v0yBzWBOwCqc</string>
	<key>GCM_SENDER_ID</key>
	<string>531114733211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ettern0.GrandaLocket</string>
	<key>PROJECT_ID</key>
	<string>grandalocket</string>
	<key>STORAGE_BUCKET</key>
	<string>grandalocket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:531114733211:ios:4e4abbbdecf0344d2de03e</string>
</dict>
</plist>
